.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* css for cards */
*{
  margin: 0;
  padding: 0;
  font-family:roboto;
}
.card{
  /* border: 3px solid red; */
  width: 350px;
  margin-left: 1%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 18%), 0 1px 1px 0 rgb(0 0 0 / 17%); 
     border-radius: 4px;
    padding: 2% 2%;
}
.card:hover{
  box-shadow: 0 1px 3px rgb(0 0 0 / 58%), 0 1px 1px 0 rgb(0 0 0 / 57%);
  cursor: pointer;
}
img{
  max-width:100%;
}
.card_btn{
  height: 50px;
  /* width: 100%; */
  padding: 2% 2%;
  border-radius: 3px;
  border: 2px solid #ad1457;
  background-color: #fff;
  font-size: 20px;
  color: #ad1457;
} 


.card_btn:hover {
  background-color: #ad1457;
  color: #fff;
  cursor: pointer;
 
}
.button_style{
  display: flex;
  justify-content: space-between;
}

p{
  margin-top: 3%;
}
.text{
  color:dimgrey;
}
.newDelhi{
  font-weight: 100;
  color: black;
  /* text-decoration: none; */
}

.items{
  display: flex;
  width: 100%;
  /* border: 5px solid #fff; */

}
.inner_item{
  /* border: 5px solid red; */
  width: 100%;
  margin: 5% 5% 5% 0%;
}
.items1{
  display: flex;
}
.view_more{
  text-decoration: none;
  color: #4487d4;
}
.small_text{
  margin-left: 15%;
}
.small_text_head{
  color: dimgray;
}
li{
  list-style: none;
}


/* ul li::before{
  content: "\2022";
  color: green;
  font-size: 20px;
} */
ul.bulletGreen li::before{
  content: "\2022";
  color: green;
  font-size: 25px;
}
ul.bulletRed li::before{
  color: red;
  content: "\2022";
  font-size: 25px;
}
.text_margin{
  margin-top: 7%;
}
ul li{
  color: dimgray;
}
ul{
  margin-top: 4%;
}



.TodoBtn{
  padding: 1% 1%;
}
input{
  height: 30px;
  width: 70%;
}.box{
  height: 400px;
  width: 500px;
  border: 5px solid #4487d4;
  background-color: #4487d4;
  /* margin-top: 20%; */
  margin: auto; 

}
.inner_box{
  margin-top: 20%;
}
.close_btn{
  color: red;
  border: none;
  border-radius: 50px;
  height: 30px;
  width: 40px;
  font-size: 30px;
}
.close_btn:hover{
  cursor: pointer;
}
.font_text{
  font-size: 30px;
  color: #fff;
}